@page "/books/details/{id:int}"
@inject IBookService bookService
@inject NavigationManager navManager


<h3>Book Details</h3>

<EditForm Model="Book">
    <fieldset disabled="true">
        <div class="mb-3">
            <label>Book Cover Photo</label>
            <div>
                <img src="@Book.Image" width="100" height="100" class="img-thumbnail" />
            </div>
        </div>
        <br />
        <div class="mb-3">
            <label for="title">Book Title</label>
            <InputText @bind-Value="Book.Title" class="form-control" id="title" />
        </div>
        <br />
        <div class="mb-3">
            <label for="title">Author</label>
            <InputText @bind-Value="Book.AuthorName" class="form-control" id="authorname" />
        </div>
        <br />
        <div class="mb-3">
            <label for="isbn">ISBN</label>
            <InputText @bind-Value="Book.Isbn" class="form-control" id="isbn" />
        </div>
        <br />
        <div class="mb-3">
            <label for="price">Price</label>
            <InputNumber @bind-Value="Book.Price" class="form-control" id="price" />
        </div>
        <br />
        <div class="mb-3">
            <label for="price">Year</label>
            <InputNumber @bind-Value="Book.Year" class="form-control" id="year" />
        </div>
        <br />
        <div class="mb-3">
            <label for="summary">Summary</label>
            <InputText @bind-Value="Book.Summary" class="form-control" id="summary" />
        </div>
    </fieldset>

    
    <br />
    <button @onclick="GoToEdit" class="btn btn-warning">
        <span class="oi oi-pencil"></span>
        Edit Book
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary" type="button">
        <span class="oi oi-media-skip-backward"></span>
        Back To List
    </button>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    private BookDetailsDto Book = new();

    protected async override Task OnInitializedAsync()
    {
        var response = await bookService.Get(id);
        if (response.Success)
        {
            Book = response.Data;
        }
    }

    private void BackToList()
    {
        navManager.NavigateTo("/books/");
    }

    private void GoToEdit()
    {
        navManager.NavigateTo($"/books/update/{Book.Id}");
    }
}
